__pycache__/
*.py[cod]

.venv/
venv/
env/

figures/*
!figures/20251021_142342/
!figures/20251021_142342/**
runs/
test_figure_paths/
paths/
results/

models/**
!models/
!models/20251021_142342/
!models/20251021_142342/**

*.log
.DS_Store
